<!DOCTYPE html>
<html lang="en">
<head> 
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ObjectDetection-YOLOv8</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_home.css') }}">
    <!-- <link rel="stylesheet" href="style_home.css"> -->
    <!-- <link href="style_home.css" rel="stylesheet" type="text/css" /> -->
    
</head>
<body>  
    <header class="feature-box right">
        <nav>
            <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/FrontPage">Video</a></li>
            <li><a href="/webcam">LiveWebcam</a></li>
            </ul>
        </nav>
    </header>

    <!-- <header class="feature-box below">
    </header> -->


    <section class="details">
        <h1>Sample Results</h1>
    </section>

    <div class="container">
        <div class="mySlides">
            <div class="numbertext">1 / 6</div>
            <img src="https://images.unsplash.com/photo-1690205073493-0846848e6606?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDN8Ym84alFLVGFFMFl8fGVufDB8fHx8fA==&auto=format&fit=crop&w=500&q=60" style="width: 100%;">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 6</div>
            <img src="https://images.unsplash.com/photo-1694445681139-a203ed671c89?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDV8Ym84alFLVGFFMFl8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="width: 100%;">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 6</div>
            <img src="https://images.unsplash.com/photo-1694351356658-725c95f7a157?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE1fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" style="width: 100%;">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 6</div>
            <img src="https://images.unsplash.com/photo-1694436948284-23fc69603169?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIwfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" style="width: 100%;">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 6</div>
            <img src="https://images.unsplash.com/photo-1694178751555-daa33a60d9ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" style="width: 100%;">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 6</div>
            <img src="https://images.unsplash.com/photo-1658669242695-faf6c4d0db4f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDI0fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" style="width: 100%;">
        </div>

        <a class="prev" onclick="plusSlides(-1)">prev</a>
        <a class="next" onclick="plusSlides(1)">next</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="row">
            <div class="column">
                <img class="demo cursor" src="https://images.unsplash.com/photo-1690205073493-0846848e6606?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDN8Ym84alFLVGFFMFl8fGVufDB8fHx8fA==&auto=format&fit=crop&w=500&q=60" style="width: 100%;" onclick="currentSlides(1)" alt="sky">
            </div>

            <div class="column">
                <img class="demo cursor" src="https://images.unsplash.com/photo-1694445681139-a203ed671c89?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDV8Ym84alFLVGFFMFl8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="width: 100%;" onclick="currentSlides(2)" alt="mountain">
            </div>

            <div class="column">
                <img class="demo cursor" src="https://images.unsplash.com/photo-1694351356658-725c95f7a157?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE1fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" style="width: 100%;" onclick="currentSlides(3)" alt="stone">
            </div>

            <div class="column">
                <img class="demo cursor" src="https://images.unsplash.com/photo-1694436948284-23fc69603169?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIwfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" style="width: 100%;" onclick="currentSlides(4)" alt="big bain">
            </div>

            <div class="column">
                <img class="demo cursor" src="https://images.unsplash.com/photo-1694178751555-daa33a60d9ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" style="width: 100%;" onclick="currentSlides(5)" alt="leaf">
            </div>

            <div class="column">
                <img class="demo cursor" src="https://images.unsplash.com/photo-1658669242695-faf6c4d0db4f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDI0fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" style="width: 100%;" onclick="currentSlides(6)" alt="sea">
            </div>
        </div>
    </div>
    
    
    <section class="features">
        <figure>
            <img src="../static/images/1.png" alt="YOLOv8 Results 1">
            <figcaption>YOLOv8 Results 1</figcaption>
        </figure>
        <figure>
            <img src="../static/images/2.png" alt="YOLOv8 Results 2">
            <figcaption>YOLOv8 Results 2</figcaption>
        </figure>
        <figure>
            <img src="../static/images/3.png" alt="YOLOv8 Results 3">
            <figcaption>YOLOv8 Results 3</figcaption>
        </figure>
    </section>
    <div class="main">
        <div class="subpart1">
            <h1>Object Detection using YOLOv8</h1><br>
            <h4> FPS of Video</h4>
            <p>FPS represents the Frame Rate, in case of GPU the FPS will be high while in case of CPU the FPS will be low</p><br>
            <h4>Shape of Current Frame</h4>
            <p>The shape of current frame i.e. Resolution will be calculated</p><br>
            <h4>Detections in Current Frame</h4>
            <p>Total detections in each of the frame will be calculated</p><br>

        </div>

      <div class="subpart2"><figure>
      <img src="../static/images/1.png"  alt="Image Missing">
          <figcaption>Sample Results</figcaption>
        </figure>
      </div>
    </div>

    <!-- <div class="contactpage">
        <h1>Contact</h1><br>
        <p>In case of any query do let me know</p>
            <form action="/action_page.php" target="_blank" >
                <p><input type="text" placeholder="Name"  required name="Name"  id="textbox"></p>
                <p><input type="text" placeholder="Email ID" required name="Email ID" id="textboxes"></p>
                <p><button type="submit">SEND MESSAGE</button></p>
            </form>
    </div> -->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
