<!DOCTYPE html>
<html lang="en">
<head> 
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ObjectDetection-YOLOv8</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_home.css') }}">
    <!-- <link rel="stylesheet" href="style_home.css"> -->
    <!-- <link href="style_home.css" rel="stylesheet" type="text/css" /> -->
    
</head>
<body>  
    <header class="feature-box right">
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/FrontPage">Video</a></li>
                <li><a href="/webcam">LiveWebcam</a></li>
            </ul>
        </nav>
    </header>

    <!-- <header class="feature-box below">
    </header> -->


    <section class="details">
        <h1>Safety Motorcycle Helmet Object Detection</h1>
    </section>

    <div class="container">
        <div class="mySlides">
            <div class="numbertext">1 / 6</div>
            <img src="../static/images/54.jpg" style="width: 100%;">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 6</div>
            <img src="../static/images/30.jpeg" style="width: 100%;">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 6</div>
            <img src="../static/images/34.jpeg" style="width: 100%;">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 6</div>
            <img src="../static/images/35.jpg" style="width: 100%;">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 6</div>
            <img src="../static/images/aa.jpg" style="width: 100%;">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 6</div>
            <img src="../static/images/55.jpg" style="width: 100%;">
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮⮜</a>
        <a class="next" onclick="plusSlides(1)">⮞❯</a>

        <!-- ❯⮞
        ❮⮜
        ⮞❯
        ▶⮞ -->

        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="row">
            <div class="column">
                <img class="demo cursor" src="../static/images/54.jpg" style="width: 100%;" onclick="currentSlides(1)" alt="Image_1">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/30.jpeg" style="width: 100%;" onclick="currentSlides(2)" alt="Image_2">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/34.jpeg" style="width: 100%;" onclick="currentSlides(3)" alt="Image_3">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/35.jpg" style="width: 100%;" onclick="currentSlides(4)" alt="Image_4">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/aa.jpg" style="width: 100%;" onclick="currentSlides(5)" alt="Image_5">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/55.jpg" style="width: 100%;" onclick="currentSlides(6)" alt="Image_6">
            </div>
        </div>


        <div class="content">
            <div class="description">
                <h3><i class="fa-solid fa-location-dot"></i> ultralytics</h3>
                <h1>YOLOv8</h1>
                <!-- <h1>KET</h1> -->
                <p>Phuket, city and island, southern Thailand. The island lies in the Andaman Sea, off the west coast of peninsular Thailand. Phuket city, located in the southeastern portion of the island, is a major port and commercial centre. Its harbour exports tin, rubber, charcoal, lumber, and fish products south to Malaysia and Singapore and north to Myanmar (Burma). Rice and manufactures are imported. The city airport has regular flights to Bangkok, towns of southern Thailand, and George Town, Malaysia.</p>
                <button>GO now</button>
            </div>
            <div class="grid-card">
                <div class="box bg1">
                    <h2>Detect</h2>
                </div>
                <div class="box bg2">
                    <h2>Segment</h2>
                </div>
                <div class="box bg3">
                    <h2>Pose</h2>
                </div>
                <div class="box bg4">
                    <h2>Track</h2>
                </div>
            </div>
        </div>

        

    </div>
      
    <!-- <section class="features">
        <figure>
            <img src="../static/images/1.png" alt="YOLOv8 Results 1">
            <figcaption>Classify</figcaption>
        </figure>
        <figure>
            <img src="../static/images/2.png" alt="YOLOv8 Results 2">
            <figcaption>Track</figcaption>
        </figure>
        <figure>
            <img src="../static/images/3.png" alt="YOLOv8 Results 3">
            <figcaption>Pose</figcaption>
        </figure>
    </section> -->

    <!-- <div class="main">
        <div class="subpart1">
            <h1>Object Detection using YOLOv8</h1><br>
            <h4> FPS of Video</h4>
            <p>FPS represents the Frame Rate, in case of GPU the FPS will be high while in case of CPU the FPS will be low</p><br>
            <h4>Shape of Current Frame</h4>
            <p>The shape of current frame i.e. Resolution will be calculated</p><br>
            <h4>Detections in Current Frame</h4>
            <p>Total detections in each of the frame will be calculated</p><br>

        </div>

      <div class="subpart2"><figure>
      <img src="../static/images/1.png"  alt="Image Missing">
          <figcaption>Sample Results</figcaption>
        </figure>
      </div>
    </div> -->

    <!-- <div class="contactpage">
        <h1>Contact</h1><br>
        <p>In case of any query do let me know</p>
            <form action="/action_page.php" target="_blank" >
                <p><input type="text" placeholder="Name"  required name="Name"  id="textbox"></p>
                <p><input type="text" placeholder="Email ID" required name="Email ID" id="textboxes"></p>
                <p><button type="submit">SEND MESSAGE</button></p>
            </form>
    </div> -->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
