<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_video_page.css') }}">

</head>
<body>
<header class="feature-box top">
    <h1><strong>Illegal Helmet Object Detection using YOLOv8</strong></h1>
</header>
<header class="feature-box second">
     <h1><strong>Output Video</strong></h1>
</header>

  <!-- <section class="col-sm " >
          <img src="{{ url_for('video') }}"   alt="Upload video">
  </section> -->

  <div class="container">
    <div class="col-sm">
      <img src="{{ url_for('video') }}"   alt="Upload video">
    </div>
  </div>

<section>
    <div class="new" >
      <form method = 'POST' enctype="multipart/form-data" style="align-content: center; text-align: center;display: flex;">
        {{form.hidden_tag()}}
        {{form.file(class_="custom-file-input")}}

        <div>
        <button type="submit" name="favorite" value="x" class="btnCustom">
            Submit
        </button>
      </div>
      </form>
    </div>

  </div>
    </section>

</body>
</html>