body {
    font-family:Helvetica, sans-serif, Arial;
    margin:0px;
    padding:0px;
    /* 2. เพิ่ม URL ของรูปภาพใน background-image
    background-image: url('');
    /* 3. กำหนดความสูงของพื้นหลัง (ถ้าต้องการ) 
    background-size: cover; /* ให้รูปภาพขยายหรือย่อให้เต็มพื้นที่ 
    background-repeat: no-repeat; /* ไม่ให้รูปภาพซ้ำซ้อน 
    background-attachment: fixed;  รูปภาพติดตามหน้าเว็บ */
}

body::after {
    content: ""; /* ใส่เนื้อหาว่าง */
    position: fixed; /* ตั้งค่าตำแหน่งให้เป็น fixed สำหรับพื้นหลัง */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://plus.unsplash.com/premium_photo-1673240367277-e1d394465b56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1769&q=80');
    filter: brightness(45%);
    z-index: -1; /* ตั้งค่า z-index เพื่อให้ pseudo-element อยู่หลัง body content */
    background-size: cover; /* ปรับภาพ bg ให้พอดีกับจอ */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* รูปภาพติดตามหน้าเว็บ */
}

* {
    box-sizing: border-box;
}

/* menu */
header.feature-box.right {
    background-color:black;
    color:white;
    height:120px;
    padding:5px;
    text-align:right;
}

/* header.feature-box.below {
    height:800px;
    background-color:blue;
    margin-top:-30px;
    background-image:url("../static/images/1.png");
    background-size:100%;
    background-position:center;
} */
ul {
    list-style:none;
    padding:0px;
}
li {
    display:inline-block;
    background-color:gray;
    border-radius:10px;
    padding:10px;
    margin:10px;
}
li:hover {
    background-color:red;
    margin:10px;
}
header a {
    color:white;
    text-decoration:none;
    width:100%;
}
.details {
    height:80px;
    margin:40px;
    padding:0px;
    font-size:30px;
    background-color:gray;
    text-align:center;
    color:black;
    border-radius: 25px;
    display: flex; /* จัดให้เป็น flex container */
    align-items: center; /* จัดให้ข้อความตรงกลางในแนวตั้ง */
    justify-content: center; /* จัดให้ข้อความตรงกลางในแนวนอน */
}

/* features of yolo */

.features {
    background:white;
    color:gray;
    display:flex;
    flex-direction:row;
    padding:20px;
}

.features figure {
    /*background:pink;*/
    width:400px;
    margin:auto;
    text-align:center;
    text-transform:uppercase;
}
.features figure img {
    border-radius:10%;
    width:400px;
}

/* subpart 1 & 2 */
div.main {
    display:flex;
    margin:40px;
    letter-spacing:1px;
    h1, h2, h3, h4, h5, h6 {
      font-family: "Playfair Display";
        letter-spacing: 5px;
    }
}
.subpart2 {
    text-align:center;
    text-transform:uppercase;
}
.subpart2 figure img {
    border-radius:4%;
    width:800px;
}

img {
    vertical-align: middle;
}

/* slide image */
/* Position the image container (needed to position the left and right arrows) */
.container {
    /* มีการจัดตำแหน่งภายในรูปภาพ เช่น ปุ่มกดไปซ้ายขวา */
    /* position: relative;

    max-width: 65%;*/
    margin: 0 auto; 

    position: relative;
    max-width: 75%;
    /* min-height: 100vh; */
}

/*Hide the images by default */
.mySlides {
    /* ให้รูปภาพทั้งหมดหายไป */
    display: none;
}

.mySlides img {
    height: 600px;
    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    /* border-radius: 25px 25px 0 0; */
}

/* add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & Previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    /* user-select: none;
    -webkit-user-select: none; */


}

/* positon next button */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.row {
    display: flex;
}

.column img {
    width: 100%;
    height: 60%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.numbertext {
    color: #fff;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

/* card */
/* Content & Card */
.content {
    width: 100%;
    margin: 650px auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    /* justify-content: center; /* จัดให้องค์ประกอบอยู่กึ่งกลางแนวนอน */
    /* align-items: center; จัดให้องค์ประกอบอยู่กึ่งกลางแนวตั้ง */

}

.content .description,.grid-card {
    width: 50%;
    position: relative;
}

.content .description {
    color: white;
    padding: 20px;
}

.content .description h3 {
    font-size: 2.3rem;
    letter-spacing: 2px;
}

.content .description h3 i {
    color: orange;
}

.content .description h1 {
    font-size: 4rem;
}

.content .description p{
    opacity: .6;
}

.grid-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.grid-card .box {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    transition: .4s;
    position: relative;
}

.bg1 {
    background-image: url('../images/Home11.png');
}

.bg2 {
    background-image: url('../images/Home22.png');
    /* background-position: 20% 20% 20% 20%; */
}

.bg3 {
    background-image: url('../images/Home33.png');
    background-position: 50px 20px;
}

.bg4 {
    background-image: url('../images/Home44.png');
}

.content .box h2 {
    position: absolute;
    bottom: 7px;
    left: 15px;
    color: white;
}

.container .box:hover {
    transform: translateY(-15px);
}

.description button{
    border: solid 3px white;
    background: none;
    color: white;
    font-size: 2rem;
    padding: 5px 15px; /*เว้นระยะห่าง บนล่าง 5,ซ้ายขวา 15 จากขอบใน border ของ button*/
    margin: 15px 0; /*เว้นระยะห่าง บนล่าง 15,ซ้ายขวา 0 จากขอบนอก border ของ button*/
    cursor: pointer; /*เปลี่ยนรูปเมาส์เป็นรูปมือ เมื่อเอาเมาส์ไปโดน button*/
}

.description button:hover {
    background: white; /*พื้นหลัง button สีขาว*/
    color: black; /*สี font สีดำ*/
}